@model Blog.Web.Models.Noticia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Noticia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DataDaPublicacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataDaPublicacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assunto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDNoticias }) |
    @Html.ActionLink("Voltar", "Index")
</p>
